* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body {
    background-color: #726DD8;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    text-align: center;
    margin: 20px;
    color: white;
}
.survey-form {
    width: 100%;
    max-width: 720px;
    background-color: #417D82;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    line-height: 1.5;
}
.form-group {
    margin-bottom: 15px;
}
.form-group:last-child {
    margin-bottom: 0;
}
.form-box {
    width: 100%;
    border: 1px solid #D5CABD;
    border-radius: 2px;
    padding: 0.5rem;
}
button {
    color: white;
    background-color: #6BBAA3;
    transition: 200ms ease-in-out;
}
button:hover{
    cursor: pointer;
    background-color: #726DD8;
}
.footer {
    margin: 10px;
}
#credit {
    color: white;
}
#credit a{
    color: white;
}
@media (max-width: 500px){
    .header {
        font-size: 0.7rem;
    }
    .survey-form {
        padding: 0.6rem;
        font-size: 0.8rem;
    }
}
